---
---

<div class="max-w-[1440px] w-full py-24 px-4 lg:px-16">
  <div class="flex flex-col items-center gap-10 contact_us relative">
    <div class="flex flex-col items-center gap-4 lg:gap-6 lg:w-[620px] text-[#fff] relative">
      <h3 class="text-center text-2xl lg:text-5xl font-semibold leading-7" data-i18n="contact.title">
        Let's Capture Your Story
      </h3>
      <p class="text-center text-base lg:text-xl font-normal leading-6 tracking-[0.032px]" data-i18n="contact.desc">
        Boost your business with stunning photos and videos that grab attention and drive engagement.
      </p>
      <img src="/images/camera_icon.svg" alt="camera" class="absolute left-[7px] top-[-70px] transform -rotate-[19.589deg] lg:left-[-70px] lg:top-0" />
      <img src="/images/heart_icon.svg" alt="heart" class="absolute right-[0.357px] top-[-70px] transform -rotate-[12.18deg] lg:right-[-37px]" />
      <img src="/images/foto_aparat_icon.svg" alt="foto_aparat" class="absolute right-[156px] bottom-[-180px] transform rotate-[-21.681deg]" />
    </div>
    <a href="/contact-us/">
      <button class="btn-color w-full lg:w-auto">
        <span data-i18n="contact.button">Contact Us</span>
      </button>
    </a>
    <div class="blue_gradient lg:hidden"></div>
  </div>
</div>
